html {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
body{
	color: #666;

}
.app-container{
	width: 60%;
	margin: auto


}
.app-navi{
	background-color: rgb(221,221,221);
	height: 38px
}

.app-back{
	border: none;
	
	margin: 8px;
}
.app-arrow{
	border: none;
	
	margin: 8px;
}
.app-submit{
	float: right;
	height: 30px;
	margin: 5px;
	border:solid rgb(181,181,181) 1px;
	-moz-border-radius: 10px;
　　border-radius: 10px;

}
.app-pager{
	width: 100%;
	height: 200px;
	overflow:auto;
	font-size: 2rem;
	border-left: 0;
	border-right: 0; 
	border-top: 0; 
	border-bottom: 8px solid  rgb(231,231,231); 
	-moz-border-bottom-colors:rgb(201,201,201) rgb(211,211,211) rgb(221,221,221) rgb(231,231,231) rgb(241,241,241);
	/*not work*/
	-webkit-border-bottom-color:rgb(201,201,201) rgb(211,211,211) rgb(221,221,221) rgb(231,231,231) rgb(241,241,241);
	border-bottom-colors:rgb(201,201,201) rgb(211,211,211) rgb(221,221,221) rgb(231,231,231) rgb(241,241,241)
}
.app-topic{
	margin: 10px;
}
.app-content{}
.app-content input{
	 color: rgb(111,211,241);
	 border-left: 0;
	 border-right: 0; 
	 border-top: 0; 
	 border-bottom: 2px solid #333; 
	 width: 120px;
	 cursor: pointer;
	 text-align: center;

}
.app-content input:focus{
	 /*color: white;*/
	 border-left: 0;
	 border-right: 0; 
	 border-top: 0; 
	 border-bottom: 2px solid rgb(111,211,241); 
	 border-top-left-radius:0.9rem;
	 border-top-right-radius:0.9rem;
	 -moz-border-top-left-radius:0.9rem;
	 -moz-border-top-right-radius:0.9rem;
	 /*width: 120px;*/
	 cursor: pointer;
	 background-color: rgb(111,211,241);
}
.app-content-answer  input:focus{
	 border-bottom: 2px solid black !important;
	 /*width: 120px;*/
	 cursor: pointer;
	 background-color: transparent !important;
}
.app-input-wrong{
	color: rgb(231,124,140)  !important ; 
	text-decoration:line-through;
	background-color: transparent;
	
}


.app-input-answer{
	color: white !important;
	background-color: rgb(108,210,183);
	border: none !important;
	
}
.app-del {
	 text-decoration:line-through
}
.app-number{
	width: 400px;
    height: 50px;
    margin: auto;
    padding-top: 14px;
}
.app-itemlist{
	
}
.app-item{
	width: 34px;
	height: 10px;
	float: left;

}

.app-index{
	color: white;
	cursor: pointer;
	padding:3px 8px;
	border: 1px solid #ddd;
	margin: 0 5px;
	background-color: rgb(219,219,219);
	-moz-border-radius: 6px;      /* Gecko browsers */
    -webkit-border-radius: 6px;   /* Webkit browsers */
    border-radius:6px;            /* W3C syntax */
	

}
.app-index-checked{
	background-color: rgb(111,211,241);

}

.app-index-checked-right{
	background-color: rgb(108,210,183);

}
.app-index-checked-wrong{
	background-color: rgb(237,122,134);

}
.app-index a {
	display:block;
	color: white;
	width: 17px;
    margin-left: -3px;
}
.app-index a:link{
	text-decoration:none;
}
.app-index a:visited{
	text-decoration:none;
}
.app-index a:active{
	text-decoration:none;
}
/*.app-index:hover{
	background-color: #ddd

}
*/
.app-triangle{
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid#2f2f2f;
	margin-left: 13px;
}

.pagination li:after {

}
.app-screen{
	position: absolute;
	width:100%; 
	height:100%; 
	z-index:1000; 
}
.app-options{
	cursor: pointer;
	text-align: center;
	/*position: absolute;*/
	/*z-index:1000; */
}

.app-options td:hover{
	color:rgb(113,223,249);;
}
.app-btn{
	color: rgb(111,211,241);
	border-color: rgb(111,211,241);
	padding: 6px 100px;
	border-radius:25px;
}
.app-correctPercentage{
	font-size: 5rem;
	color:rgb(113,223,249);
	text-align: center;
}
.app-correct{
	font-size: 1.5rem;
	color: rgb(188,188,188);
	text-align: center;
}
.app-answers{
	padding-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.app-wrong{
	color: rgb(236,177,191);
	text-align: center;
}
.app-right{
	color: rgb(113,223,249);
	text-align: center;
}

.app-analysis{
	width: 100%;
	height: 200px;
	overflow-y:scroll;
	font-size: 2rem;
	border-top: solid 3px rgb(188,188,188);
}
